@model User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<html lang="en">
<head>
    <title>Sign Up</title>
</head>
<body>
<div class="d-flex flex-column align-items-center card p-md-2 m-xl-5">
        <h1>Sign Up</h1>
    <form method="post" asp-action="Index" asp-controller="Login" class="d-flex flex-column card-body">
        <div  class="form-floating mb-3 ">
            <input type="text" class="form-control" id="fullname" placeholder="fullname" asp-for="FullName">
            <label for="fullname">Full Name</label>
            <span asp-validation-for="FullName"  style="color: red; font-size: 10px;"></span>
        </div>
        <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Email">
              <label for="floatingInput">Email address</label>
              <span asp-validation-for="Email"  style="color: red; font-size: 10px;"></span>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="username" placeholder="username" asp-for="Username">
          <label for="username">Username</label>
          <span asp-validation-for="Username"  style="color: red; font-size: 10px;"></span>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="Password">
          <label for="floatingPassword">Password</label>
          <span asp-validation-for="Password"  style="color: red; font-size: 10px;"></span>
        </div>
        <button class="btn btn-danger m-5" type="submit"> Sign Up</button>
    </form>
    <div class="d-flex justify-content-center flex-column">
        <p>Already have account?</p>
        <button onclick="location.href='@Url.Action("Login", "Login")'" class="btn btn-outline-danger">Sign In</button>
    </div>
</div>
</body>
</html>
